@model IEnumerable<VehicleInsuranceCalculator.MVC.ViewModels.InsuranceViewModel>

@{
    ViewBag.Title = "Insurance";
}

<h2>Insurance</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RiskRate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RiskPremium)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PurePremium)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CommercialPremium)
        </th>
        <th>
            @Html.DisplayName("Assured")
        </th>
        <th>
            @Html.DisplayName("Vehicle")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RiskRate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RiskPremium)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PurePremium)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CommercialPremium)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Assured.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vehicle.BrandAndModel)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.InsuranceId }) |
            @Html.ActionLink("Details", "Details", new { id = item.InsuranceId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.InsuranceId })
        </td>
    </tr>
}

</table>
