@model IEnumerable<VehicleInsuranceCalculator.MVC.ViewModels.AssuredViewModel>

@{
    ViewBag.Title = "Assured";
}

<h2>Assured</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cpf)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cpf)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AssuredId }) |
            @Html.ActionLink("Details", "Details", new { id=item.AssuredId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AssuredId })
        </td>
    </tr>
}

</table>
